.btn {
  padding: 10px 16px;
  border-radius: 999px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #ff0000;
  background: #ff0000;
  color: #ffffff;
  transition: 
    background 0.25s ease,
    color 0.25s ease,
    box-shadow 0.25s ease,
    transform 0.25s ease;
}

.red {
    color: rgb(196, 36, 36);
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    background-color: rgb(196, 36, 36);
    left: 0;
    width: 100%;
}


.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav {
    display: flex;
    padding-top: 10px;
}

.nav__content--wrapper {
    background: rgba(0, 0, 0, 0.7);
    border-top: 2px solid rgb(209, 37, 37, 0.5);
    border-bottom: 2px solid rgb(209, 37, 37, 0.5);
    width: 100%;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.nav__logo {
    left: 50;
    display: flex;
    align-items: center;
    margin: 8px 0;
    text-shadow:

        0 0 3px rgba(255, 0, 0, 0.5),
        0 0 11px rgba(255, 0, 0, 0.4),
        0 0 20px rgba(255, 0, 0, 0.3);
}

.nav__logo--img {
    right: 50;
    width: 80px;
    height: 80px;

    filter:
    drop-shadow(0 0 3px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 11px rgba(255, 0, 0, 0.4))
    drop-shadow(0 0 20px rgba(255, 0, 0, 0.3));
}

.nav__logo--title {
    color: white;
    font-size: 36px;
    font-weight: 700;  
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 0 24px;
    
    
}

.btn__contact {padding: 10px 16px;
  border-radius: 999px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #ff0000;
  background: #ff0000;
  color: #ffffff;
  transition: 
    background 0.25s ease,
    color 0.25s ease,
    box-shadow 0.25s ease,
    transform 0.25s ease;
}

.btn__contact:hover {
  background: transparent;
  color: #ff0000;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.7),
              0 0 20px rgba(255, 0, 90, 0.4);
  transform: translateY(-1px);
}
.btn__return {
    display: none;
}

.btn__return:hover {
    background-color: rgb(228, 228, 228);
    color: rgb(196, 36, 36);
    outline: 2px solid rgb(196, 36, 36);
    outline-offset: -2px;
}


/* Small phones */

@media (max-width: 480px) {
    .nav__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }
    .nav__links {
        display: flex;;
        align-items: center;
        justify-content: flex-end;
    }
    .nav__link {
        font-size: 18px;
        font-weight: 600;
        margin: 0 12px;
    }

    .nav__home-link,
  .nav__back-results-link {
    display: none !important;
  }
}
